.customCalendar :global(.react-datepicker__header) {
  padding: 0 !important;
}

// 요일
.customCalendar :global(.react-datepicker__day-names) {
  background: #e6f0fe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 0; // 필요하면 조정
  padding: 4px 0;
}

.customCalendar :global(.react-datepicker__day-name) {
  // color: #2066bc;
  font-weight: 600;
  font-size: 1rem;
}

.selectedRangeStrong {
  background: linear-gradient(90deg, #2066bc 60%, #4d85d7 100%) !important;
  color: #fff !important;
  border-radius: 10px !important;
  font-weight: 800;
  box-shadow: 0 0 0 2px #9ec3f8;
}

.selectedRangeLight {
  background: #e7f1fa !important;
  color: #1a65b8 !important;
  border-radius: 10px !important;
}

.customCalendarHeader {
  background: #e6f0fe;
  padding: 12px 0 0 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 700;
  font-size: 1.25rem;
}

.customCalendarButton {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.customCalendar {
  border: 2px solid #48aaff !important;
  // box-shadow: 0 0 4px 2px #48aaff88, 0 0 4px 4px #21c3fc55 !important;
  border-radius: 14px;
  overflow: hidden;
}
