[submodule "backend/env"]
	path = backend/env
	url = https://github.com/8llow8llowMe/TripMarble-env.git
	branch = feature/be/env
[submodule "frontend/web/env"]
	path = frontend/web/env
	url = https://github.com/8llow8llowMe/TripMarble-env.git
	branch = feature/fe/env
[submodule "frontend/mobile/env"]
	path = frontend/mobile/env
	url = https://github.com/8llow8llowMe/TripMarble-env.git
	branch = feature/fe/mobile/env
